{% block body %}

<div class="tab-pane" id="maniptab">
    <div class="form-row">
      <div class="form-group col">
        {{ form.r0.label() }}
        {{ form.r0(class_="form-control", title=form.r0.description,
          data_toggle='tooltip') }}
      </div>
      <div class="form-group col">
        {{ form.p0.label() }}
        {{ form.p0(class_="form-control", title=form.p0.description,
          data_toggle='tooltip') }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-6">
        {{ form.p_end.label() }}
        {{ form.p_end(class_="form-control", title=form.p_end.description,
           data_toggle='tooltip') }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        {{ form.scale_avg_num.label() }}
        {{ form.scale_avg_num(class_="form-control", min=0,
          title=form.scale_avg_num.description, data_toggle='tooltip') }}
      </div>
      <div class="form-group col">
        {{ form.win.label() }}
        {{ form.win(class_="form-control", min=1, title=form.win.description,
          data_toggle='tooltip') }}
      </div>
    </div>
</div>

{% endblock %}