{% block body %}

<div class="tab-pane" id="datatab">
    <div class="form-row">
      <div class="form-group col">
        {{ form.stoich_r.label() }}
        {{ form.stoich_r(class_="form-control", title=form.stoich_r.description,
          data_toggle='tooltip') }}
      </div>
      <div class="form-group col">
        {{ form.stoich_p.label() }}
        {{ form.stoich_p(class_="form-control", title=form.stoich_p.description,
          data_toggle='tooltip') }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        {{ form.cat_sol_conc.label() }}
        {{ form.cat_sol_conc(class_="form-control", title=form.cat_sol_conc.description,
          data_toggle='tooltip') }}
      </div>
      <div class="form-group col">
        {{ form.inject_rate.label() }}
        {{ form.inject_rate(class_="form-control", title=form.inject_rate.description,
          data_toggle='tooltip') }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        {{ form.react_vol_init.label() }}
        {{ form.react_vol_init(class_="form-control", title=form.react_vol_init.description,
          data_toggle='tooltip') }}
      </div>
      <div class="form-group col">
        {{ form.t_inj.label() }}
        {{ form.t_inj(class_="form-control", title=form.t_inj.description,
          data_toggle='tooltip') }}
      </div>
    </div>
</div>

{% endblock %}