{% block body %}

<!--Choose File [xl]-->
<!--Sheet Name [sheet_name]: string-->
<!--Time Column [t_col]: int-->
<!--Simulation Duration [t_param]: -->
<!--(t_init, t_final, dt)-->
<!--Simulation Only [sim]: checkbox-->

<div class="tab-pane active show" id="uploadtab">
    <!--  Excel File, Sheet Name, and Time Column  -->
    <div class="form-row">
      <div class="form-group col-6 my-auto">
        {{ form.upload.form.xl.label }}
        {{ form.upload.form.xl(class_="form-control", placeholder="Upload Excel Data",
          accept=".xlsx,.xls, .XLSX, .XLS", title=form.upload.form.xl.description, data_toggle='tooltip') }}
      </div>
      <div class="form-group col-3 my-auto">
        {{ form.upload.form.sheet_name.label() }}
        {{ form.upload.form.sheet_name(class_="form-control", title=form.upload.form.sheet_name.description,
          data_toggle='tooltip') }}
      </div>
      <div class="form-group col-3 my-auto">
        {{ form.upload.form.t_col.label() }}
        {{ form.upload.form.t_col(class_="form-control", min=1, title=form.upload.form.t_col.description,
          data_toggle='tooltip') }}
      </div>
    </div>
    <!--  Whether to Perform a Pure Simulation  -->
    <div class="form-row m-2">
      <div class="form-check col">
        {{ form.upload.form.sim(title=form.upload.form.sim.description,
          data_toggle='tooltip') }}
        {{ form.upload.form.sim.label() }}
      </div>
    </div>
    <!--  Simulation Time Parameters. Use $('#time_params').collapse() to initiate and
          .collapse('show'), .collapse('hide'), or .collapse('toggle') to control
    -->
    <div class="collapse" id="time_params">
      <div class="form-row">
        <div class="form-group col">
          {{ form.upload.form.t_init.label() }}
          {{ form.upload.form.t_init(class_="form-control", title=form.upload.form.t_init.description,
            data_toggle='tooltip') }}
        </div>
        <div class="form-group col">
          {{ form.upload.form.t_final.label() }}
          {{ form.upload.form.t_final(class_="form-control", title=form.upload.form.t_final.description,
            data_toggle='tooltip') }}
        </div>
        <div class="form-group col">
          {{ form.upload.form.t_interval.label() }}
          {{ form.upload.form.t_interval(class_="form-control", title=form.upload.form.t_interval.description,
            data_toggle='tooltip') }}
        </div>
      </div>
    </div>

</div>

{% endblock %}