# -e git+ssh://git@github.competerjhw07CAKE.git@c8a80aac2ed8e97cb2f28975da26d2926fa28144#egg=cake
# click==8.1.8
cycler==0.12.1
# dominate==2.9.1
et-xmlfile==2.0.0
Flask==2.1.2
Flask-Bootstrap4==4.0.2
Flask-WTF==1.0.1
importlib-metadata==8.7.0
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.9.4
numpy==1.26.4
openpyxl==3.1.2
pandas==2.3.2
pillow==11.3.0
pwlf==2.4.0
pygam==0.8.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.6.0
scipy==1.13.1
six==1.17.0
statsmodels==0.14.4
typing_extensions==4.15.0
visitor==0.1.3
Werkzeug==2.1.2
WTForms==3.2.1
xlrd==2.0.1
zipp==3.23.0
