{% block body %}

<!--Scaling Points [scale_avg_num]: int-->
<!--Smoothing Window [win]: int-->
<!--Interpolation Multiplier [inc]: int-->

<div class="tab-pane" id="fittab">

    <div class="form-row">
      <div class="form-group col">
        {{ form.fit.form.fit_eq.label() }}
        {{ form.fit.form.fit_eq(class_="form-control", id="fit_eq", title=form.fit.form.fit_eq.description, data_toggle='tooltip') }}
      </div>
      <div class="form-group col">
        {{ form.fit.form.intercept.label() }}
        {{ form.fit.form.intercept(title=form.fit.form.intercept.description,
        data_toggle='tooltip') }}
      </div>
    </div>

    <div class="collapse" id="fitlof">
      <div class="form-row">
        <div class="form-group col">
          {{ form.fit.form.lof.label() }}
          {{ form.fit.form.lof(title=form.fit.form.lof.description, data_toggle='tooltip') }}
        </div>
        <div class="form-group col">
          {{ form.fit.form.path_length.label() }}
          {{ form.fit.form.path_length(class_="form-control", title=form.fit.form.path_length.description,
          type='number', min=0.0, data_toggle='tooltip') }}
        </div>
      </div>
    </div>

    <div class="collapse" id="loftest">
      <div class="form-row">
        <!--LOF test [lof_test]: “RMSE”, “MAE”, “R2”, “Runs”, "Rainbow”, or “Harvey-Collier” -->
        <div class="form-group col-4">
          {{ form.fit.form.lof_test.label() }}
          {{ form.fit.form.lof_test(class_="form-control", id="lof_test-options",
          title=form.fit.form.lof_test.description, data_toggle='tooltip') }}
        </div>
        <!--LOF method [lof_method]: “min”, “max”, “first”, or “last” -->
        <div class="form-group col-4">
          {{ form.fit.form.lof_method.label() }}
          {{ form.fit.form.lof_method(class_="form-control", id="lof_method-options",
          title=form.fit.form.lof_method.description, data_toggle='tooltip') }}
        </div>
        <div class="form-group col-4">
          <div class="collapse" id="pthresh">
            {{ form.fit.form.p_thresh.label() }}
            {{ form.fit.form.p_thresh(class_="form-control", title=form.fit.form.p_thresh.description,
            type=number, min=0, max=1, data_toggle='tooltip') }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-6">
        {{ form.fit.form.smooth_eq.label() }}
        {{ form.fit.form.smooth_eq(class_="form-control", id="smooth_eq", title=form.fit.form.smooth_eq.description, data_toggle='tooltip') }}
      </div>
      <div class="form-group col-6">
        <div class="collapse" id="sg_win_collapse">
          {{ form.fit.form.sg_win.label() }}
          {{ form.fit.form.sg_win(class_="form-control", min=1, title=form.fit.form.sg_win.description,
          data_toggle='tooltip') }}
        </div>
      </div>
    </div>

  <div class="form-row">
      <div class="form-group col-6">
        {{ form.fit.form.lod_stds.label() }}
        {{ form.fit.form.lod_stds(class_="form-control", id="lod_stds", title=form.fit.form.lod_stds.description, data_toggle='tooltip') }}
      </div>
    </div>

</div>

{% endblock %}