<!DOCTYPE html>
<html>
    <title>Oboros</title>
    <body>
        <div> Catalytic Cycle </div>
        <div><img src='{{ graph1 }}' border = '5'></img>

    <h1>Input Table</h1>
      <table>
         <tr>
            <th>
                <form method="POST">
                 <input name="text2">
                 <input type="submit">
                 </form>
            </th>
            <th><form method="POST">
                 <input name="text2">

                 </form></th>
         </tr>
         <tr>
            <td>1</td>
            <td>2</td>
         </tr>
         <tr>
            <td>3</td>
            <td>4</td>
         </tr>
      </table>
    </div>

    </body>


</html>