{% extends "bootstrap/base.html" %}
{% block title %}Catacycle{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="{{url_for('.static', filename='images/cycle_icon.png')}}">
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<br>
<div class="container">
    <h5 class="font-weight text-uppercase">About Us</h5>
        The McIndoe and Paci Groups research chemistry at the University of Victoria (Canada).
        For more information, visit their respective web pages:
    <br>
        McIndoe Group:
        <a href="http://web.uvic.ca/~mcindoe/"
           class="text-decoration-none text-dark">http://web.uvic.ca/~mcindoe/
        </a>
    <br>
        Paci Group:
        <a href="https://pacilab.ca/"
           class="text-decoration-none text-dark">https://pacilab.ca/
        </a>
    <br>
    <br>
    <br>
    <h5 class="font-weight text-uppercase">Key Developers</h5>
    <div class="row text-center">
        <div class="col">
            <img src="../static/images/people/sm.png" class="img-fluid rounded-circle mb-2" style="max-width:120px;" alt="Scott McIndoe">
            <div>Prof. J. Scott McIndoe</div>
        </div>
        <div class="col">
            <img src="../static/images/people/ip.png" class="img-fluid rounded-circle mb-2" style="max-width:120px;" alt="Irina Paci">
            <div>Prof. Irina Paci</div>
        </div>
        <div class="col">
            <img src="../static/images/people/bh.png" class="img-fluid rounded-circle mb-2" style="max-width:120px;" alt="Brett Henderson">
            <div>Dr. Brett Henderson</div>
        </div>
        <div class="col">
            <img src="../static/images/people/pw.png" class="img-fluid rounded-circle mb-2" style="max-width:120px;" alt="Peter Williams">
            <div>Dr. Peter Williams</div>
        </div>
        <div class="col">
            <img src="../static/images/people/sd.png" class="img-fluid rounded-circle mb-2" style="max-width:120px;" alt="Sofia Donnecke">
            <div>Dr. Sofia Donnecke</div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

{% include "footer.html" %}
{% endblock %}
