{% extends "bootstrap/base.html" %}
{% block title %}Catacycle{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="{{url_for('.static', filename='images/cycle_icon.png')}}">
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('cycle') }}">  Catacycle </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}"> Other Tools </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('aboutus') }}"> About Us</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="container">
    <h5 class="font-weight text-uppercase">About Catacycle</h5>
      The catalytic cycle generator is meant to be a smooth web interface to generate repeatable and
      standardized visualizations of the rates of various steps in a catalytic cycle.  Relative rates are
      assigned via drop-down boxes, resulting in arrow thicknesses that are proportional to the step rate.
      The user can customize arrow colors and styles through the Colors and Styling tabs as well as create
      single arrows for off-cycle reactions using the Side Reactions tab.  The generated graphic
      may be saved for annotation by the user to represent their chemistry in svg, png, eps, or pdf format.
    <br>
    <br>
    <br>
    <h5 class="font-weight text-uppercase">About VTNA</h5>
    Variable time normalization was first introduced by <a href="https://doi.org/10.1002/anie.201609757">Bur&eacute;s</a> in 2016.
    We provide an online tool that auto-fits reaction traces and finds the order of your reaction. Furthermore, the performance of
    substrates at lower concentrations is often plagued by trace impurities introduced from other components in the reaction.
    Therefore, we have designed a simple algorithm to assess your experimental data for possible poisoning.
</div>
{% endblock %}