{% extends "bootstrap/base.html" %}
{% block title %}Oboros{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/graphs.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap-colorpicker.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/graphs.js')}}"></script>
<script src="{{url_for('.static', filename='js/bootstrap-colorpicker.js')}}"></script>
<script type="text/javascript">
    $(document).ready(setToken("{{ form.csrf_token._value() }}"));
    $(document).ready(addrow({{ rows|tojson }}));
    $(document).ready(clear());
    $(document).ready(submitHandler("{{ form.csrf_token._value() }}"));
    $(document).ready(downloadHandler());
</script>
<script>
    // link tabs to correct carousel images
    link_click_to_carousel("#outsiderxnlink", '#imageCarousel', 1);
    link_click_to_carousel("#rateslink", '#imageCarousel', 0);
    link_click_to_carousel("#colorslink", '#imageCarousel', 0);
    // link_click_to_carousel("#arrowslink", '#imageCarousel', 0);

    // add colorpickers to the outside reactions tab
    add_colorpicker('#straight_f_color-picker-component', true, '#straight_r_color-picker-component');
    add_colorpicker('#straight_r_color-picker-component', false, 'None');

    // add the colorpickers for the cycle steps
    {% for prefix in ['r', 'f'] %}
        {% for i in range(1, rows+1) %}
            {% if prefix == 'f' %}
                add_colorpicker('#{{ prefix }}_color-picker-component{{ i }}', true, '#r_color-picker-component{{ i }}');
            {% else %}
                add_colorpicker('#{{ prefix }}_color-picker-component{{ i }}', false, 'None');
            {% endif %}
        {% endfor %}
    {% endfor %}
</script>
{% endblock %}

{% block content %}
    <div class="container pb-2 mt-4 mb-2 border-bottom">
        <h1>Catalytic Cycle Generator</h1>
    </div>
    <div class="container-fluid">
        <div class="row d-flex">
            <!--<div class="col-md-1 col-lg-1"></div>-->
            <div class="col-md-6 col-lg-6 d-flex flex-column align-items-center justify-content-center max-vw-50" style="overflow: auto;">
                <form id="cycle-form" style="width: 90%;" action="" method="post" nonvalidate>
                    {{ form.hidden_tag() }}
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                    <a id="rateslink" class="nav-link active" data-toggle="tab" href="#ratestab">Step Rates</a>
                                </li>
                                <li class="nav-item">
                                    <a id="colorslink" class="nav-link" data-toggle="tab" href="#colorstab">Colors</a>
                                </li>
                                <li class="nav-item">
                                    <a id="arrowslink" class="nav-link" data-toggle="tab" href="#arrowsstyle">Styling</a>
                                </li>
                                <li class="nav-item">
                                    <a id="outsiderxnlink" class="nav-link" data-toggle="tab" href="#outsiderxns">Side Reactions</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active show" id="ratestab">
                                    <table class="rates-list table table-hover table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                {% for header in ['Step', 'Forward Rate', 'Reverse Rate', 'Add Reagent', 'Remove Product'] %}
                                                <th>
                                                    {{ header }}
                                                </th>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody id="rate-body">
                                            {% for i in range(rows) %}
                                            <tr id="row{{ i+1 }}">
                                                <td width="10%">{{ i+1 }}</td>
                                                <td>
                                                    <select id="f_rate{{ i+1 }}" class="form-control frate" name="f_rate{{ i+1 }}">
                                                        <option value="1">Very Slow</option>
                                                        <option value="2">Slow</option>
                                                        <option value="3" selected>Average</option>
                                                        <option value="4">Fast</option>
                                                        <option value="5">Very Fast</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="r_rate{{ i+1 }}" class="form-control rrate" name="r_rate{{ i+1 }}">
                                                        <option value="0" selected>None</option>
                                                        <option value="1">Very Slow</option>
                                                        <option value="2">Slow</option>
                                                        <option value="3">Average</option>
                                                        <option value="4">Fast</option>
                                                        <option value="5">Very Fast</option>
                                                    </select>
                                                </td>
                                                <td width="15%"><div class="pt-2"><input id="is_incoming{{ i+1 }}" name="is_incoming{{ i+1 }}" class="form-control pt-2 income-check" type="checkbox"></div></td>
                                                <td width="15%"><div class="pt-2"><input id="is_outgoing{{ i+1 }}" name="is_outgoing{{ i+1 }}" class="form-control pt-2 income-check" type="checkbox"></div></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-outline-primary float-left" id="addrow">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <button type="button" class="btn btn-outline-primary" id="clearrates">
                                                Clear All
                                            </button>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-outline-primary ibtnDel float-right" id="delrow">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="colorstab">
                                    <table class="color-list table table-hover table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                {% for header in ['Step', 'Forward Color', 'Reverse Color'] %}
                                                <th>
                                                    {{ header }}
                                                </th>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody id="color-body">
                                            {% for i in range(rows) %}
                                            <tr id="crow{{ i+1 }}">
                                                <td>{{ i+1 }}</td>
                                                <td>
                                                    <div id="f_color-picker-component{{ i+1 }}" class="input-group colorpicker-component">
                                                        <input id="f_color{{ i+1 }}" name="f_color{{ i+1 }}" type="text" value="{{ form_values['fcolours'][i] }}" class="form-control color"/>
                                                        <span class="input-group-append">
                                                            <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div id="r_color-picker-component{{ i+1 }}" class="input-group colorpicker-component">
                                                        <input id="r_color{{ i+1 }}" name="r_color{{ i+1 }}" type="text" value="{{ form_values['rcolours'][i] }}" class="form-control color"/>
                                                        <span class="input-group-append">
                                                            <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-outline-primary float-left" id="addcolorrow">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <button type="button" class="btn btn-outline-primary" id="clearcolors">
                                                Clear All
                                            </button>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-outline-primary ibtnDel float-right" id="delcolorrow">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="arrowsstyle">
                                    <p class="h4">General Settings</p>
                                    <!--
                                    <div class="form-group">
                                        <label for="scale_type">Scaling:</label>
                                        <select class="form-control" id="scale_type" name="scale_type">
                                            <option selected>Logarithmic</option>
                                            <option>Linear</option>
                                            <option>Preserve Multiples</option>
                                        </select>
                                    </div>
                                    -->
                                    <div class="form-row">
                                        <div class="form-group col-sm-6">
                                            <label for="gap">Gap:</label>
                                            <div class="form-row">
                                                <span class="col-sm-4 d-flex justify-content-end">
                                                    <img src="{{url_for('.static', filename='images/Gap_small.png')}}" alt="small gap"
                                                 srcset="{{url_for('.static', filename='images/Gap_small.svg')}}" width="50" height="30">
                                                </span>
                                                <div class="col-sm-4">
                                                    <input id="gap" name="gap" class="form-control" type="number" min="0"
                                                           max="50" step="1" value="{{ form_values['gap'] }}">
                                                </div>
                                                <span class="col-sm-4">
                                                    <img src="{{url_for('.static', filename='images/Gap_big.png')}}" alt="big gap"
                                                     srcset="{{url_for('.static', filename='images/Gap_big.svg')}}" width="50" height="30">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="thickness">Thickness:</label>
                                            <div class="form-row">
                                                <span class="col-sm-4 d-flex justify-content-end">
                                                    <img src="{{url_for('.static', filename='images/Thickness_small.png')}}" alt="thin arrow"
                                                     srcset="{{url_for('.static', filename='images/Thickness_small.svg')}}" width="50" height="30">
                                                </span>
                                                <div class="col-sm-4">
                                                    <input id="thickness" name="thickness" class="form-control" type="number" min="5"
                                                           max="50" step="1" value="{{ form_values['thickness'] }}">
                                                </div>
                                                <span class="col-sm-4">
                                                    <img src="{{url_for('.static', filename='images/Thickness_big.png')}}" alt="thick arrow"
                                                     srcset="{{url_for('.static', filename='images/Thickness_big.svg')}}" width="50" height="30">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm-6">
                                            <label for="headwidth">Arrowhead Width:</label>
                                            <div class="form-row">
                                                <span class="col-sm-4 d-flex justify-content-end">
                                                    <img src="{{url_for('.static', filename='images/arrowhead_narrow.png')}}" alt="narrow arrowhead"
                                                     srcset="{{url_for('.static', filename='images/arrowhead_narrow.svg')}}" width="50" height="30">
                                                </span>
                                                <div class="col-sm-4">
                                                    <input id="headwidth" name="rel_head_width" class="form-control" type="number" min="1.0"
                                                           max="4.0" step="0.1" value="{{ form_values['rel_head_width'] }}">
                                                </div>
                                                <span class="col-sm-4">
                                                    <img src="{{url_for('.static', filename='images/arrowhead_wide.png')}}" alt="wide arrowhead"
                                                     srcset="{{url_for('.static', filename='images/arrowhead_wide.svg')}}" width="50" height="30">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="headlength">Arrowhead Length:</label>
                                            <div class="form-row">
                                                <span class="col-sm-4 d-flex justify-content-end">
                                                    <img src="{{url_for('.static', filename='images/arrowhead_short.png')}}" alt="long arrowhead"
                                                     srcset="{{url_for('.static', filename='images/arrowhead_short.svg')}}" width="50" height="30">
                                                </span>
                                                <div class="col-sm-4">
                                                    <input id="headlength" name="rel_head_length_scaler" class="form-control" type="number" min="0.1"
                                                           max="3.0" step="0.1" value="{{ form_values['rel_head_length_scaler'] }}">
                                                </div>
                                                <span class="col-sm-4">
                                                    <img src="{{url_for('.static', filename='images/arrowhead_long.png')}}" alt="short arrowhead"
                                                     srcset="{{url_for('.static', filename='images/arrowhead_long.svg')}}" width="50" height="30">
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="h4">Incoming/Outgoing Arrows</p>
                                    <div class="form-row">
                                        <div class="form-group col-sm-6">
                                            <label for="swoopwidth">Thickness:</label>
                                            <div class="form-row">
                                                <span class="col-sm-4 d-flex justify-content-end">
                                                    <img src="{{url_for('.static', filename='images/swoop_thickness_small.png')}}" alt="thin swoop"
                                                     srcset="{{url_for('.static', filename='images/swoop_thickness_small.svg')}}" width="50" height="30">
                                                </span>
                                                <div class="col-sm-4">
                                                    <input id="swoopwidth" name="swoop_width_scale" class="form-control" type="number" min="0.1"
                                                           max="1" step="0.01" value="{{ form_values['swoop_width_scale'] }}">
                                                </div>
                                                <span class="col-sm-4">
                                                    <img src="{{url_for('.static', filename='images/swoop_thickness_large.png')}}" alt="thick swoop"
                                                     srcset="{{url_for('.static', filename='images/swoop_thickness_large.svg')}}" width="50" height="30">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="swoopradius">Radius:</label>
                                            <div class="form-row">
                                                <span class="col-sm-4 d-flex justify-content-end">
                                                    <img src="{{url_for('.static', filename='images/radius_small.png')}}" alt="small radius"
                                                     srcset="{{url_for('.static', filename='images/radius_small.svg')}}" width="50" height="30">
                                                </span>
                                                <div class="col-sm-4">
                                                    <input id="swoopradius" name="swoop_radius_scale" class="form-control" type="number" min="0.5"
                                                           max="2.0" step="0.01" value="{{ form_values['swoop_radius_scale'] }}">
                                                </div>
                                                <span class="col-sm-4">
                                                    <img src="{{url_for('.static', filename='images/radius_large.png')}}" alt="large radius"
                                                     srcset="{{url_for('.static', filename='images/radius_large.svg')}}" width="50" height="30">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm-6">
                                            <label for="swoopsweep">Total Length:</label>
                                            <div class="form-row">
                                                <span class="col-sm-4 d-flex justify-content-end">
                                                    <img src="{{url_for('.static', filename='images/extent_small.png')}}" alt="less than semicircle"
                                                     srcset="{{url_for('.static', filename='images/extent_small.svg')}}" width="50" height="30">
                                                </span>
                                                <div class="col-sm-4">
                                                    <input id="swoopsweep" name="swoop_sweep_scale" class="form-control" type="number" min="0.3"
                                                           max="1.0" step=".01" value="{{ form_values['swoop_sweep_scale'] }}">
                                                </div>
                                                <span class="col-sm-4">
                                                    <img src="{{url_for('.static', filename='images/extent_large.png')}}" alt="semicircle"
                                                     srcset="{{url_for('.static', filename='images/extent_large.svg')}}" width="50" height="30">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="swoopheadlength">Arrowhead Length:</label>
                                            <div class="form-row">
                                                <span class="col-sm-4 d-flex justify-content-end">
                                                    <img src="{{url_for('.static', filename='images/swoop_arrowhead_short.png')}}" alt="short arrowhead"
                                                     srcset="{{url_for('.static', filename='images/swoop_arrowhead_short.svg')}}" width="50" height="30">
                                                </span>
                                                <div class="col-sm-4">
                                                    <input id="swoopheadlength" name="swoop_head_length_scaler" class="form-control" type="number" min="0.05"
                                                           max="2.0" step="0.01" value="{{ form_values['swoop_head_length_scaler'] }}">
                                                </div>
                                                <span class="col-sm-4">
                                                    <img src="{{url_for('.static', filename='images/swoop_arrowhead_long.png')}}" alt="long arrowhead"
                                                     srcset="{{url_for('.static', filename='images/swoop_arrowhead_long.svg')}}" width="50" height="30">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm-6">
                                            <label for="swooprotation">Shackleford Angle:</label>
                                            <div class="form-row">
                                                <span class="col-sm-4 d-flex justify-content-end">
                                                    <img src="{{url_for('.static', filename='images/rotation_small.png')}}" alt="no rotation"
                                                     srcset="{{url_for('.static', filename='images/rotation_small.svg')}}" width="50" height="30">
                                                </span>
                                                <div class="col-sm-4">
                                                    <input id="swooprotation" name="swoop_start_angle_shift_multiplier" class="form-control" type="number" min="0"
                                                           max="0.5" step="0.01" value="{{ form_values['swoop_start_angle_shift_multiplier'] }}">
                                                </div>
                                                <span class="col-sm-4">
                                                    <img src="{{url_for('.static', filename='images/rotation_large.png')}}" alt="large rotation"
                                                     srcset="{{url_for('.static', filename='images/rotation_large.svg')}}" width="50" height="30">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="outsiderxns">
                                    <div class="form-row">
                                        <div class="form-group col">
                                             <label for="f_rate_straight">Forward Rate</label>
                                             <select class="form-control" id="f_rate_straight" name="f_rate_straight">
                                                 <option value="1">Very Slow</option>
                                                 <option value="2">Slow</option>
                                                 <option value="3" selected>Average</option>
                                                 <option value="4">Fast</option>
                                                 <option value="5">Very Fast</option>
                                             </select>
                                        </div>
                                        <div class="form-group col">
                                             <label for="r_rate_straight">Reverse Rate</label>
                                             <select class="form-control" id="r_rate_straight" name="r_rate_straight">
                                                 <option value="0" selected>None</option>
                                                 <option value="1">Very Slow</option>
                                                 <option value="2">Slow</option>
                                                 <option value="3">Average</option>
                                                 <option value="4">Fast</option>
                                                 <option value="5">Very Fast</option>
                                             </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="incoming_straight" name="incoming_straight">
                                                <label class="form-check-label" for="incoming_straight">
                                                    Add Reagent
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="outgoing_straight" name="outgoing_straight">
                                                <label class="form-check-label" for="outgoing_straight">
                                                    Remove Product
                                                </label>
                                            </div>
                                         </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label for="f_color_straight">Forward Color</label>
                                            <div id="straight_f_color-picker-component" class="input-group colorpicker-component">
                                                <input id="f_color_straight" name="f_color_straight" type="text" value="{{ form_values['f_color_straight'] }}" class="form-control"/>
                                                <span class="input-group-append">
                                                    <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group col">
                                             <label for="r_color_straight">Reverse Color</label>
                                             <div id="straight_r_color-picker-component" class="input-group colorpicker-component">
                                                <input id="r_color_straight" name="r_color_straight" type="text" value="{{ form_values['r_color_straight'] }}" class="form-control"/>
                                                <span class="input-group-append">
                                                    <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="submit" class="form-control btn btn-primary" value="Graph">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-lg-6 d-flex flex-column align-items-center justify-content-start max-vw-50">
                <div id="imageCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                     <ol class="carousel-indicators">
                          <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#imageCarousel" data-slide-to="1"></li>
                     </ol>
                     <div class="carousel-inner">
                          <div class="carousel-item active">
                              <img id='graph' class="d-block w-100 img-fluid max-vh-75" src='{{ graph1 }}' alt="Cycle">
                          </div>
                          <div class="carousel-item">
                               <img id="straight-graph" class="d-block w-100 img-fluid max-vh-75" src='{{ graph2 }}' alt="Straight Arrow">
                          </div>
                     </div>
                     <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                     </a>
                </div>
                <form id="download-form"  style="width: 100%;" action="/download" method="post" nonvalidate>
                    <div class="form-group row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-2">
                            <select id="dloadFormat" class="form-control" name="f_format">
                                <option value="svg" selected>SVG</option>
                                <option value="png">PNG</option>
                                <option value="eps">EPS</option>
                                <option value="pdf">PDF</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <button id="fake-submit" type="button" class="form-control btn btn-primary">
                                <i class="fa fa-lg fa-download"></i>
                            </button>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small bg-secondary pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

          <!-- Grid row -->
          <div class="row">
              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About the Site</h5>
              <p>The catalytic cycle generator is meant to be a smooth web interface to generate repeatable and
                  standardized visualizations of the rates of various steps in a catalytic cycle.  Relative rates are
                  assigned via drop-down boxes, resulting in arrow thicknesses that are proportional to the step rate.
                  The user can customize arrow colors and styles through the Colors and Styling tabs as well as create
                  single arrows for off-cycle reactions using the Side Reactions tab.  The generated graphic
                  may be saved for annotation by the user to represent their chemistry in svg, png, eps, or pdf format.
              </p>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Acknowledgements -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-5 mx-auto">

              <!-- Content -->
              <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Authors</h6>
              <p>McFarlane, J., Henderson, B., Donnecke, S., McIndoe, S.
              </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-7 pt-3 d-flex flex-column justify-content-center">

                <!-- Social buttons -->
                <div class="wrapper">
                    <ul class="social-icons icon-circle list-unstyled list-inline">
                        <li>
                            <a href="https://twitter.com/mcindoe?lang=en" class="btn">
                                <i class="fa fa-twitter"> </i>
                            </a>
                        </li>
                        <!--
                        <li>
                            <a href="https://ca.linkedin.com/in/scottmcindoe" class="btn">
                                <i class="fa fa-linkedin"> </i>
                            </a>
                        </li>
                        -->
                        <li class="ml-3">
                            <a href="http://web.uvic.ca/~mcindoe/" class="btn btn-dark">
                                McIndoe Group
                            </a>
                        </li>
                        <li class="ml-3">
                            <a href="http://web.uvic.ca/~simmater/Groupweb/Welcome.html" class="btn btn-dark">
                                Paci Group
                            </a>
                        </li>
                        <li class="ml-3">
                            <a href="mailto:mcindoe@uvic.ca" class="text-white">
                                mcindoe@uvic.ca
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Social buttons -->

              <!-- Links -->
              <!--<a class="vertCenter btn btn-info"href="#">Contact Form</a>-->

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->
          </div>

        </div>

        <!--Footer
        <hr>

        <div class="footer-copyright text-center py-3">Copyright placeholder:
          <a href="#"> None</a>
        </div>
        <!-- Copyright
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="#"> None</a>
        </div>
        Copyright -->
        -->

    </footer>
    <!-- Footer -->

{% endblock %}
