{% extends "bootstrap/base.html" %}
{% block title %}Oboros{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/graphs.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap-colorpicker.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/graphs.js')}}"></script>
<script src="{{url_for('.static', filename='js/bootstrap-colorpicker.js')}}"></script>
<script type="text/javascript">
    $(document).ready(addrow({{ rows|tojson }}))
</script>
<script>
    $(function () {
        var prefixes = ['f', 'r', 'incoming'];
        for (prefix in prefixes) {
            for (i = 1; i < {{ rows+1 }}; i++) {
                $('#' + prefixes[prefix] + '_color-picker-component' + i).colorpicker({
                    popover: { placement: 'right' },
                    format: 'hex',
                    autoInputFallback: false,
                });
            }
        }
    });
</script>
{% endblock %}

{% block content %}
    <div class="container pb-2 mt-4 mb-2 border-bottom">
        <h1>Catalytic Cycle Generator</h1>
    </div>
    <div class="row d-flex">
        <div class="col-md-6 flex-column max-vw-100" style="overflow: auto;">
            <form id="cycle-form" class="vertCenter w-75" action="" method="post" nonvalidate>
                {{ form.hidden_tag() }}
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#quickstarttab">Quick Start</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#ratestab">Step Rates</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#colorstab">Colors</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="quickstarttab">
                                <div class="form-group form-row">
                                    <label class="col-sm-6 col-form-label" for="num-steps">Number of Steps:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="num-steps" value="{{ rows }}">
                                    </div>
                                </div>
                                {% for slider in ['Gap', 'Thickness'] %}
                                <div class="form-group form-row">
                                    <label class="col-sm-3 col-form-label" for={{ slider }}>{{ slider }}:</label>
                                    <div class="pt-3 col-sm-7">
                                        <input id="{{ slider }}" class="form-control-range slider" type="range" min="0"
                                               max="20" step="1" value={{ form[slider | lower].data }}/>
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control" type="text" id="{{ slider }}val" readonly>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="tab-pane" id="ratestab">
                                <div class="form-group">
                                    <label for="scale_type">Scale Type:</label>
                                    <select class="form-control" id="scale_type">
                                        <option>Linear</option>
                                        <option>Logarithmic</option>
                                        <option>Linear (Preserve Multiples)</option>
                                    </select>
                                </div>
                                <table class="rates-list table table-hover table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            {% for header in ['Step', 'Forward Rate', 'Reverse Rate', 'Swoop'] %}
                                            <th>
                                                {{ header }}
                                            </th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody id="rate-body">
                                        {% for i in range(rows) %}
                                        <tr id="row{{ i+1 }}">
                                            <td>{{ i+1 }}</td>
                                            <td><input id="f_rate{{ i+1 }}" class="form-control" type="text" name="f_rate{{ i+1 }}" value={{ form_values["forward_rates"][i+1] }}></td>
                                            <td><input id="r_rate{{ i+1 }}" class="form-control" type="text" name="r_rate{{ i+1 }}" value={{ form_values["rev_rates"][i+1] }}></td>
                                            <td><div class="pt-2"><input id="incoming{{ i+1 }}" class="form-control pt-2" type="checkbox"></div></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-primary float-left" id="addrow">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                    <div class="col-sm-4 text-center">
                                        <button type="button" class="btn btn-primary" id="clearrates">
                                            Clear All
                                        </button>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-primary ibtnDel float-right" id="delrow">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="colorstab">
                                <table class="color-list table table-hover table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                {% for header in ['Step', 'Forward Color', 'Reverse Color', 'Swoop Color'] %}
                                                <th>
                                                    {{ header }}
                                                </th>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody id="color-body">
                                            {% for i in range(rows) %}
                                            <tr id="crow{{ i+1 }}">
                                                <td>{{ i+1 }}</td>
                                                {% for prefix in ['f', 'r', 'incoming'] %}
                                                    <td>
                                                        <div id="{{ prefix }}_color-picker-component{{ i+1 }}" class="input-group colorpicker-component">
                                                            <input id="{{ prefix }}_color{{ i+1 }}" type="text" value="#000000" class="form-control"/>
                                                            <span class="input-group-append">
                                                                <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                                            </span>
                                                        </div>
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>
                                                    <button type="button" class="btn btn-primary float-left" id="addcolorrow">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <button type="button" class="btn btn-primary ibtnDel float-right" id="delcolorrow">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="form-control btn btn-default" value="Graph">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6 flex-column max-vw-100">
            <img class="img-fluid" src='{{ graph1 }}' style="border: 0px solid; max-width: 100%; height: auto;"></img>
        </div>
    </div>

{% endblock %}
