{% extends "bootstrap/base.html" %}
{% block title %}Catacycle{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/guide.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="{{url_for('.static', filename='images/cycle_icon.png')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/guide.js')}}"></script>
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<br>
<div class="container">
  <div class="pb-3">
    <a class="collapse-heading title" data-toggle="collapse" href="#cataDemo" role="button" aria-expanded="false" aria-controls="cataDemo">
      <div class="d-flex col-3 align-items-center justify-content-between">
        <h5 class="font-weight text-uppercase">Catacycle Demo</h5>
        <i class="fa fa-chevron-down mb-2" aria-hidden="true"></i>
      </div>
    </a>
    <div class="collapse" id="cataDemo">
      <p align="center">
        <video width="50%" controls>
            <source src="{{url_for('.static', filename='files/catacycle_screencast.mp4')}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
      </p>
    </div>
  </div>

  <div class="pb-3">
    <a class="collapse-heading active title" data-toggle="collapse" href="#cakeGuide" role="button" aria-expanded="true" aria-controls="cakeGuide">
      <div class="d-flex col-3 align-items-center justify-content-between">
        <h5 class="font-weight text-uppercase">CAKE User Guide</h5>
        <i class="fa fa-chevron-down mb-2" aria-hidden="true"></i>
      </div>
    </a>
    <div class="collapse show" id="cakeGuide">
      <p align="center">
        <iframe src="{{url_for('.static', filename='files/CAKE_WebApp_Guidance.pdf')}}" width="80%" height="400px"></iframe>
      </p>
    </div>
  </div>
  <div class="row d-flex pb-3">
    <div class="col-6 d-flex flex-column align-items-center">
      <a class="btn btn-primary" style="width:50%" href="{{ url_for('static', filename='files/CAKE_example_sim.xlsx') }}" download>
        <div class="d-flex align-items-center justify-content-between">
          Download Simulated Data
        </div>
      </a>
    </div>
    <div class="col-6 d-flex flex-column align-items-center">
      <a class="btn btn-primary" style="width:50%" href="{{ url_for('static', filename='files/CAKE_example_fit.xlsx') }}" download>
        <div class="d-flex align-items-center justify-content-between">
          Download Fit Data
        </div>
      </a>
    </div>
  </div>

  <div class="pb-3">
    <a class="collapse-heading active title" data-toggle="collapse" href="#ccGuide" role="button" aria-expanded="true" aria-controls="ccGuide">
      <div class="d-flex col-5 align-items-center justify-content-between">
        <h5 class="font-weight text-uppercase">Continuous Calibration User Guide</h5>
        <i class="fa fa-chevron-down mb-2" aria-hidden="true"></i>
      </div>
    </a>
    <div class="collapse show" id="ccGuide">
      <p align="center">
        <iframe src="{{url_for('.static', filename='files/CC_WebApp_Guidance.pdf')}}" width="80%" height="400px"></iframe>
      </p>
    </div>
  </div>
  <div class="row d-flex pb-3">
    <div class="col-6 d-flex flex-column align-items-center">
      <a class="btn btn-primary" style="width:50%" href="{{ url_for('static', filename='files/CC_example_sim.xlsx') }}" download>
        <div class="d-flex align-items-center justify-content-between">
          Download Simulated Data
        </div>
      </a>
    </div>
    <div class="col-6 d-flex flex-column align-items-center">
      <a class="btn btn-primary" style="width:50%" href="{{ url_for('static', filename='files/CC_example_fit.xlsx') }}" download>
        <div class="d-flex align-items-center justify-content-between">
          Download Fit Data
        </div>
      </a>
    </div>
  </div>
</div>

{% include "footer.html" %}
{% endblock %}
