{% extends "bootstrap/base.html" %}
{% block title %}Catacycle{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="{{url_for('.static', filename='images/cycle_icon.png')}}">
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<br>
<div class="container">
  <div class="media">
    <img class="mr-3" src="../static/images/indax.svg" width="150" height="150">
    <div class="media-body align-self-center">
      <a class="btn btn-outline-secondary btn" href="{{ url_for('graphs') }}">Generate Cycles</a>
      <br>
      Customize and download arrows to depict your chemistry.
    </div>
  </div>
  <div class="media">
    <img class="mr-3" src="../static/images/cake_logo.png" width="150" height="150">
    <div class="media-body align-self-center">
      <a class="btn btn-outline-secondary btn" href="{{ url_for('cake_old') }}">Kinetic Data Analysis (LEGACY)</a>
      <br>
      Upload your kinetic data to fit catalyst order and rate constant and correct for catalyst poisoning.
      <br>
    </div>
  </div>
  <div class="media">
    <img class="mr-3" src="../static/images/cake_logo.png" width="150" height="150">
    <div class="media-body align-self-center">
      <a class="btn btn-outline-secondary btn" href="{{ url_for('cake') }}">Kinetic Data Analysis (DEVELOPMENT)</a>
      <br>
      Upload your kinetic data to fit catalyst order and rate constant and correct for catalyst poisoning.
      <br>
    </div>
  </div>
  <div class="media">
    <img class="mr-3" src="../static/images/cc.png" width="150" height="105">
    <div class="media-body align-self-center">
      <a class="btn btn-outline-secondary btn" href="{{ url_for('cc') }}">Continuous Calibration (DEVELOPMENT)</a>
      <br>
      Upload your continuous calibration data to generate and apply calibration curves.
      <br>
    </div>
  </div>
</div>

{% include "footer.html" %}
{% endblock %}
