{% extends "bootstrap/base.html" %}
{% block title %}Catacycle{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="{{url_for('.static', filename='images/cycle_icon.png')}}">
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('cycle') }}">Catacyle</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('vtna') }}">VTNA<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('aboutus') }}">About Us</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<p>
  <a class="btn btn-light btn" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">How to format your data</a>

</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
          <div class="media">
            <img class="mr-3" src="../static/images/examplexls.png" width="210" height="130">
              <div class="media-body align-self-center">
                  Upload your data as an xlsx or xls file.
                  Each sheet is a separate experiment. Make the first column time and each subsequent column the abundance of a species.
                  There can be any number of sheets, rows and columns. The titles of your sheets and columns do not matter.
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}