{% extends "bootstrap/base.html" %}
{% block title %}Catacycle{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="{{url_for('.static', filename='images/cycle_icon.png')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/vtna.css')}}">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>
<!--Let browser know website is optimized for mobile-->
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/vtna.js')}}"></script>
<!-- jQuery validation is not included in the script above, so needs to be explicitly included -->
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<!-- Materialize CSS framework -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('select').formSelect();
});
</script>
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('cycle') }}">
    <img src="{{url_for('.static', filename='images/cycle_icon.png')}}" width="50" height="50" class="d-inline-block align-center" alt="">
    Catacycle
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}"> Other Tools </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('aboutus') }}"> About Us</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<!--dropdown how-tos-->
<div class="container">
  <!--upload xlsx-->
  <div class="card bg-wight">
    <div class="card-body">
      <div class="row align-items-center mb-0">
        <div class="col-md-6">
          <form enctype="multipart/form-data" id="xlform" action="{{ url_for('upload_data') }}" method="post">
            {{ upform.hidden_tag() }}
            <div class="form-row">
              <div class="form-group my-auto">
                <label for="excelText">Upload Data</label>
                <div class="file-field input-field mb-0">
                  <div class="btn">
                   <span>Browse</span>
                   {{ upform.xl() }}
                  </div>
                  <div class="file-path-wrapper">
                    <input id="excelText" class="file-path validate" type="text" placeholder="Upload Excel Data" pattern="^[a-zA-Z0-9\s_.\-\(\):]+(.xlsx|.XLSX)$"/>
                    <span class="helper-text" data-error="File must be .xlsx" data-success=""></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="my-auto"><span id="response-xlform"></span></div>
            <!--other input-->
            <div class="form-row">
              <div class="form-group input-field col-md-8">
                {{ upform.normtype.label(class_="active") }}
                {{ upform.normtype() }}
              </div>
              <div class="form-group col-md-4 my-auto">
                <button id="{{ upform.submit.id }}" type="submit" class="btn btn-block btn-primary">{{ upform.submit.label.text }}</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div id="accordionExample" class="my-auto">
            <button class="btn btn-secondary btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              How to format your data
            </button>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="media">
                <img class="mr-3" src="../static/images/examplexls.png" width="210" height="130">
                  <div class="media-body align-self-center">
                      Upload your data as an xlsx or xls file.
                      Each sheet is a separate experiment. Make the first column time and each subsequent column the abundance of a species.
                      There can be any number of sheets, rows and columns. The titles of your sheets and columns do not matter.
                  </div>
              </div>
            </div>
            <button class="btn btn-secondary btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Choosing normalization method
            </button>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="media">
                <div class="media-body align-self-center">
                  Total count normalization divides each data point by the sum of all reagents in that time step.
                  Max value normalization finds the maximum value in your data set and divides by that value.
                  Select none  or Max Value normalization if your data has already been normalized.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row justify-content-md-center">
    <div class="col-md-9 pl-0">
      <div class="card bg-white">
        <img id='graph' class="d-block w-100 img-fluid max-vh-75" src='{{ graph1 }}' alt="Cycle">
      </div>
    </div>
    <div class="col-md-3 pr-0">
      <!--<div class="card bg-white">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item font-weight-bold">Reaction Order = </li>
            <li class="list-group-item font-weight-bold">Poisoning = </li>
          </ul>
        </div>
      </div> -->
      <div class="card bg-white">
        <div class="card-body">
          <a class="btn btn-block btn-secondary" data-toggle="collapse" href="#data-select" role="button" aria-expanded="false" aria-controls="collapseExample">
            Data Selection
          </a>
          <div class="collapse" id="data-select">
            <div class="card card-body">
              <form enctype="multipart/form-data" id="select-form" action="{{ url_for('select_data') }}" method="post">
                {{ sform.hidden_tag() }}
                <div class="form-group input-field">
                  {{ sform.rxn.label(class_="active") }}
                  <select id="rxn-select" multiple name="rxn">
                  </select>
                </div>
                <div class="form-group input-field">
                  {{ sform.species.label(class_="active") }}
                  <select id="spec-select" multiple name="species">
                  <select id="spec-select" multiple name="species">
                  </select>
                </div>
                <div class="form-group mb-0">
                  <button id="{{ sform.submit.id }}" type="button" class="btn btn-block btn-primary">{{ sform.submit.label.text }}</button>
                </div>
                <div class="my-auto"><span id="response-selectform"></span></div>
              </form>
            </div>
          </div>
          <a class="btn btn-block btn-secondary" data-toggle="collapse" href="#param-fit" role="button" aria-expanded="false" aria-controls="collapseExample">
            Fit Parameters
          </a>
          <div class="collapse" id="param-fit">
            <div id="param-fit-card" class="card">
              <form enctype="multipart/form-data" id="param-add-form" action="#" method="post">
                <div class="mt-3 mb-3 ml-3 mr-3">
                  <button data-toggle="collapse" href="#new-param" type="button" class="btn btn-block" id="addparam">
                      Add New   <i class="fa fa-plus pl-3"></i>
                  </button>
                </div>
                <div class="collapse ml-3 mr-3" id="new-param">
                  <hr>
                    <div class="form-group my-auto">
                      <label>
                        {{ pformt.excess(type="checkbox", class_="filled-in", checked="") }}
                        <span>{{ pformt.excess.label.text }}</span>
                      </label>
                    </div>
                    <div class="form-group input-field">
                      {{ pformt.species.label(class_="active") }}
                      <select id="{{ pformt.species.id }}" name="species" disabled>
                      </select>
                    </div>
                    <div class="form-group input-field">
                      {{ pformt.order.label }}
                      {{ pformt.order(type="number", class_="form-control", min="0", max="3", step="0.01", value="0") }}
                    </div>
                    <div class="form-group input-field">
                      {{ pformt.poison.label }}
                      {{ pformt.poison(type="number", class_="form-control", min="0", max="1", step="0.01", value="0") }}
                    </div>
                    <div id="concs-label-0" class="form-group input-field pb-2"><h6>Concentrations</h6></div>
                    <div class="form-group mb-0">
                      <button id="{{ pformt.add.id }}" type="button" class="btn btn-block btn-primary pl-2 pr-2">{{ pformt.add.label.text }}</button>
                    </div>
                  <hr>
                </div>
              </form>

              <form enctype="multipart/form-data" id="param-form" action="{{ url_for('fit_data') }}" method="post">
                {{ pform.hidden_tag() }}
                <div id="submit-params" class="form-group mb-0">
                  <button id="{{ pform.submit.id }}" type="button" class="btn btn-block btn-primary pl-2 pr-2">{{ pform.submit.label.text }}</button>
                </div>
              </form>
            </div>
          </div>
          <a class="btn btn-block btn-secondary" data-toggle="collapse" href="#auto-fit" role="button" aria-expanded="false" aria-controls="collapseExample">
            Auto Fitting
          </a>
          <div class="collapse" id="auto-fit">
            <div class="card card-body">
              <form enctype="multipart/form-data" id="auto-form" action="{{ url_for('autofit_data') }}" method="post">
                {{ aform.hidden_tag() }}
                <div class="form-group">
                  <label>
                    <input class="filled-in" id="{{ aform.start.id }}" type="checkbox"/>
                    <span>{{ aform.start.label.text }}</span>
                  </label>
                </div>
                <div class="form-group">
                  <label>
                    <input class="filled-in" id="{{ aform.poison.id }}" type="checkbox"/>
                    <span>{{ aform.poison.label.text }}</span>
                  </label>
                </div>
                <div class="form-group mb-0">
                  <button id="{{ aform.submit.id }}" type="button" class="btn btn-block btn-primary" disabled>{{ aform.submit.label.text }}</button>
                </div>
              </form>
            </div>
          </div>
          <a class="btn btn-block btn-secondary" data-toggle="collapse" href="#styling" role="button" aria-expanded="false" aria-controls="collapseExample">
            Styling
          </a>
          <div class="collapse" id="styling">
            <div class="card card-body">
              <form enctype="multipart/form-data" id="style-form" action="{{ url_for('style_data') }}" method="post">
                {{ stform.hidden_tag() }}
                <div class="form-group">
                  <label>
                    {{ stform.legend(type="checkbox", class_="filled-in", checked="") }}
                    <span>{{ stform.legend.label.text }}</span>
                  </label>
                </div>
                <div class="form-group">
                  <label>
                    {{ stform.guidelines(type="checkbox", class_="filled-in", checked="") }}
                    <span>{{ stform.guidelines.label.text }}</span>
                  </label>
                </div>
                <div class="form-group input-field">
                    {{ stform.marker.label(class_="active") }}
                    {{ stform.marker() }}
                </div>
                <div class="form-group input-field">
                    {{ stform.linestyle.label(class_="active") }}
                    {{ stform.linestyle() }}
                </div>
                <div class="form-group input-field">
                      {{ stform.markersize.label }}
                      {{ stform.markersize(type="number", class_="form-control", min="1", max="10", step="1", value="5") }}
                </div>
                <div class="form-group input-field">
                      {{ stform.linewidth.label }}
                      {{ stform.linewidth(type="number", class_="form-control", min="1", max="10", step="1", value="2") }}
                </div>
                <div class="form-group mb-0">
                  <button id="{{ stform.submit.id }}" type="button" class="btn btn-block btn-primary">{{ stform.submit.label.text }}</button>
                </div>
                <div class="my-auto"><span id="response-styleform"></span></div>
              </form>
            </div>
          </div>
          <div class="pt-3">
            <form class="form-inline justify-content-center" id="download-form"  action="{{ url_for('download_vtna') }}" method="post">
              {{ dform.hidden_tag() }}
              <div class="input-field col-sm-6 pr-2">
                {{ dform.f_format() }}
              </div>
              <div class="form-group justify-content-center col-sm-6 pl-2">
                  <button id="{{ dform.submit.id }}" type="submit" class="form-control btn btn-primary">
                      <i class="fa fa-lg fa-download"></i>
                  </button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
